{% extends "base.html" %}
{% block head %}
  <style>
  .foodlist{
        display:flex;
        width:100%;
        border:1px solid #ccc;
        box-shadow: -1px 0px 1px rgb(151,191,229),
               1px 0px 1px rgb(151,191,229),
               0px 1px 1px rgb(151,191,229);
  }
  .foodlist-left{
    height:550px;
    margin-right:5px;
    margin-left:3px;
    width:180px;
    flex-shrink:0;
    border:1px solid #ccc;
    background-color:rgb(82,122,219);
    opacity:0.8;
  }
  .foodlist-left ul{
    font-family:Microsoft Yahei;
    font-size:18px;
    padding:0;
    margin:0;
  }
  .foodlist-left ul li {
    padding-top:10px;
    list-style:none;
    display:block;
  }
  .foodlist-left ul li a {
      padding-left:30px;
      display:block;
      height:40px;
      line-height:40px;
      text-align:left;
      text-decoration:none;
      color:#fff;
  }
  .foodlist-left ul li a:hover{
     background-color:rgb(100,142,241);
     color:#fff;
  }
  .active{
     background-color:rgb(54,107,229);
     color:#fff;
     opacity:0.9;
  }
  .foodlist-right{
     min-height:660px;
     flex-shrink:1;
     flex:1;
     border:1px solid rgb(106,148,219);
     box-shadow:-1px 0px 1px rgb(95,133,196),
                1px 0px 1px rgb(95,133,196);
  }
  .lists{
  display:flex;
  justify-content:center;
  align-items:center;
}
.item{
  margin-top:10px;
  min-width:450px;
  min-height:500px;
  padding-top:10px;
  border:1px solid rgb(189,204,238);
  box-shadow:1px 0 1px rgb(168,188,236),
             -1px 0 1px rgb(168,188,236),
             0px 1px 1px rgb(168,188,236),
             0px -1px 1px rgb(168,188,236);
}
.food_type{
  height:50px;
  line-height:50px;
  clear:both;
}
.food_type span{
  font-size:16px;
  font-family:Microsoft YaHei;
  color:#e24535;
}
.food_type input {
  margin-left: 20px;
  width: 349px;
  height:30px;
  border-radius:3px;
  padding-left:5px;
  padding-right:5px;
  font-size:16px;
  font-family:Microsoft YaHei;
  margin-right: 3px;
}
.food_type select{
  margin-left: 20px;
  width: 363px;
  height:30px;
  border-radius:3px;
  padding-left:5px;
  padding-right:5px;
  font-size:16px;
  font-family:Microsoft YaHei;
  margin-right: 3px;
}
.content-area{
  margin-top:7px;
  display:flex;
}
.area{
   line-height:150px;
   font-size:16px;
   font-family:Microsoft YaHei;
   color:#e24535;
}
 textarea{
   min-height:150px;
   width:350px;
   padding-left:5px;
   padding-right:5px;
   margin-left:10px;
   margin-right:3px;
   border-width:0px;
   padding-top:0px;
   padding-bottom:0px;
   font-size:16px;
   font-family:Microsoft YaHei;
}
.content{
  height:150px;
  width:350px;
}

.btn{
  float:right;
}
.btn .btn-left{
  width:70px;
  height:30px;
  background-color:blue;
  border-width:0px;
  border-radius:5px;
  color:white;
  font-size:16px;
  opacity:0.7;
}
</style>
{% endblock %}
{% block body %}
  <!--美食列表-->
  <div class="foodlist">
      <!--左侧导航栏-->
      <div class="foodlist-left">
          <ul>
              <li><a href="/admin/" id="index" >美食编辑</a></li>
              <li><a href="/pictureedit/">图片编辑</a></li>
          </ul>
      </div>
      <!--右侧显示列表-->
      <div class="foodlist-right">
          {% block food %}
             <div class="lists">
               <div class="item">
                  <form id="food" onsubmit="return beforeSubmit(this);" action="/admin/" method="post" enctype="multipart/form-data">
                       <div class="btn">
                           <span></span>
                           <input class="btn-left" type="button" value="返回" onclick="javascript:history.go(-1)">
                           <input style="margin-right:5px;" class="btn-left" type="submit" value="添加">
                       </div>
                       <div class="food_type"><span>美食类别</span>
                           <select name="food_type">
                                <option value="meats">肉类</option>
                                <option value="meat">荤菜</option>
                                <option value="snacks">小吃</option>
                                <option value="dessert">甜点</option>
                                <option value="vegetable">素菜</option>
                                <option value="soup">汤类</option>
                               <option value="home">家常菜</option>
                                <option value="noodles">面条</option>
                           </select>
                       </div>
                       <div class="food_type"><span>美食标题</span> <input type="text" required="required" name="food_title" autocomplete="off"></div>

                      <div class="food_type"><span>摘要描述</span> <input type="text" required="required" name="food_abstract" autocomplete="off"></div>

                      <div class="content-area">
                          <div class="area"> <span>美食的描述</span> </div>
                           <textarea name="food_desc"></textarea>
                       </div>
                       <div class="food_type"><span>美食图片</span> <input autocomplete="off" id="uploadfile" accept="image/*" required="required" type="file" name="files" multiple=""></div>
                       <div id="img-box"></div>
                  </form>
               </div>
             </div>
          {% endblock %}
      </div>
  </div>
{% endblock %}
{% block script %}
<script src="/js/jquery.min.js"></script>

<script>
     $(document).ready(function(){
      //默认选中第一个
      $('#index').addClass("active")
      $('.content-area textarea').val('')
    });
</script>
<script>
    function beforeSubmit(form){
      if (form.food_desc.value==''){
       alert('美食描述不能为空');
       form.food_desc.focus();
       return false;
      }
    }
</script>
<script>
    window.onload = function(){
	var input=document.getElementById("uploadfile");
	var div;
	// 当用户上传时触发事件
	input.onchange=function(){
		readFile(this);
	}
	//处理图片并添加都dom中的函数
	var readFile=function(obj){
		// 获取input里面的文件组
		var fileList=obj.files;
		//对文件组进行遍历，可以到控制台打印出fileList去看看
		for(var i=0;i<fileList.length;i++){
		    console.log(fileList[i].size)
		    if(fileList[i].size>2*1024*1024){
		      alert('图片大小不能大于1M');
		      $('#uploadfile').val('');
		      return ;
		    }
		    /*
			var reader= new FileReader();
			reader.readAsDataURL(fileList[i]);
			 // 当文件读取成功时执行的函数
			reader.onload=function(e){
				div=document.createElement('div');
				div.innerHTML='<img src="'+this.result+'" />';
				document.getElementById("img-box").appendChild(div);
			}*/
		}
	}
 }
</script>
{% endblock  %}