{% extends "base.html" %}
{% block style %}
<style>
    .lists{
      padding:0px 20px;
    }
    .item{
      margin-top:5px;
      min-height:500px;
      padding-top:10px;
<!--      border:1px solid rgb(189,204,238);-->
<!--      box-shadow:1px 0 1px rgb(168,188,236),-->
<!--                 -1px 0 1px rgb(168,188,236),-->
<!--                 0px 1px 1px rgb(168,188,236),-->
<!--                 0px -1px 1px rgb(168,188,236);-->
      margin-bottom:5px;
      padding-left:10px;
    }
</style>
{% endblock %}
{% block body %}
   <div class="lists">
       <div class="item">

       </div>
   </div>
{% endblock %}
{% block script %}
<script src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $.ajax({
          type:'POST',
          //data:JSON.stringify({"id":id}),
          success:function(result){
            console.log(result);
            if(result.msg=='ok'){
              $('.item').html(result.html);
            }
          }
      });
    })
</script>
{% endblock %}