{% extends "microblog/food.html" %}
{% block style %}
<style>
    .lists{
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      align-items:center;
    }
    .item{
      min-height:330px;
      padding-top:10px;
      border:1px solid rgb(189,204,238);
      box-shadow:1px 0 1px rgb(168,188,236),
                 -1px 0 1px rgb(168,188,236),
                 0px 1px 1px rgb(168,188,236),
                 0px -1px 1px rgb(168,188,236);
      margin-bottom:5px;
    }
    .item h4,p{
      text-align:center;
      margin:0;
    }
    .item h4{
       font-size:18px;
       font-family:Microsoft Yahei;
       color:red;
    }
    .item p{
       padding-top:5px;
       font-size:16px;
       font-family:SimSun ;
    }
    .item_img{
      padding:5px 0px;
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      align-items:center;
    }
    .item_img img{
      padding:1px 1px;
    }
    .content{
      margin-top:3px;
    }
    .content p{
      margin:0px;
    }
    .button{
      text-align:center;
      margin-bottom:3px;
      margin-top:3px;
    }
    .button a{
      text-decoration:none;
      color:red;
    }
    .button span{
      height:25px;
      width:100px;
      border:1px solid rgb(241,88,67);
      border-radius:5px;
    }
</style>
{% endblock %}
{% block food %}
   <div class="lists">

       {% for food in foods %}
           {% if not loop.first %}|{% endif %}
           <div class="item">
               <h4>{{food.food_title}}</h4>
<!--               <p>牛肉美食详细制作方法，过程及一些完成图片的预览效果</p>-->
               <div class="item_img">
                   {% for pic in food.foodpic %}
                   {% if not loop.first %}|{% endif %}
                     <img src="{{pic.pic_url}}">
                   {% endfor %}
               </div>
               <div class="content">
                   <p>
                       {{food.food_desc}}
                   </p>
               </div>
               <div class="button">
                       <a href="/fooddetail/{{ food.id }}">&#8594;<span>点击查看详细</span></a>
               </div>
           </div>
       {% endfor %}
   </div>
{% endblock %}
{% block script %}
<script src="/js/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('#home').addClass("active")
  });
</script>
{% endblock %}