{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/css/slick.css">
<link rel="stylesheet" href="/css/slick-theme.css">

{% endblock %}
{% block body %}
  <div >
             <!--轮播图设计-->
             <div class="caroul">
                <div class="slick" data-slick='{"slidesToShow": 2, "slidesToScroll": 2}'>
                    <div><a href="#"><img src="/img/66.jpg" alt=""></a></div>
                    <div><a href="#"><img src="/img/77.jpg" alt=""></a></div>
                    <div><a href="#"><img src="/img/3.png" alt=""></a></div>
                    <div><a href="#"><img src="/img/44.jpg" alt=""></a></div>
                    <div><a href="#"><img src="/img/55.jpg" alt=""></a></div>
                </div>
             </div>
             <!--美食设计-->
             <div class="food-picture">
                 <div class="food">
                      <div class="food-top">
                         <h5>美食专题</h5>
                         <a href="/food/home/"><span>更多&#62;&#62;</span></a>
                     </div>
                     <div class="food-bottom">
                         {% if foods %}
                           {% for food in foods %}
                             <div class="food_img">
                                 <a href="/fooddetail/{{food.id}}" >
                                      {% for pic in food.foodpic %}
                                        <img height="250" src="{{ pic.pic_url }}">
                                      {% endfor %}
                                   <span style="display:block;">{{food.food_title}},开启你的美食之旅...</span>
                                 </a>
                             </div>
                           {% endfor %}
                         {% else %}
                         <p>内容更新中，敬请期待</p>
                         {% endif %}
                     </div>
                 </div>
                 <div class="picture">
                     <div class="food-top">
                         <h5>图片专题</h5>
                         <a href="/picture/cutout/"><span>更多&#62;&#62;</span></a>
                     </div>
                     <div class="food-bottom">
                         {% if pictures %}
                          {% for picture in pictures %}
                             <div class="food_img">
                                 <a href="/picturedetail/{{picture.id}}">
                                     {% for pic in picture.picturepic %}
                                     <img height="250" src="{{pic.pic_url}}">
                                     {% endfor %}
                               <span style="display:block;">{{picture.pic_title}},开启你的设计之旅...</span>
                             </a></div>
                         {% endfor %}
                         {% else %}
                            <p style="color:red;text-align:center">内容更新中，敬请期待....</p>
                         {% endif %}
                     </div>
                 </div>
             </div>
  </div>
{% endblock %}

{% block script %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script>
       $(function(){
      $(".slick").slick({
        dots: true,
        infinite: true,
        speed: 1000,
        autoplay:true,
        autoplaySpeed:2000,
        arrows:true,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1000,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    });
    </script>
{% endblock %}