{% extends "base.html" %}
{% block style %}
<style>
    #img-box{
      display:flex;
      flex-wrap:wrap;
    }
</style>
{% endblock %}
{% block body %}
<form action="/multiple/" enctype="multipart/form-data" method="post">
  <div class="input-file-box">
	<span>点击上传图片</span>
	<input type="file" name="files" id="uploadfile" multiple="">
    </div>
<div id="img-box"></div>
<div>
    <input type="submit" value="上传">
</div>
</form>
{% endblock %}
{% block script %}
<script>
 window.onload = function(){
	var input=document.getElementById("uploadfile");
	var div;
	// 当用户上传时触发事件
	input.onchange=function(){
		readFile(this);
	}
	//处理图片并添加都dom中的函数
	var readFile=function(obj){
		// 获取input里面的文件组
		var fileList=obj.files;
		//对文件组进行遍历，可以到控制台打印出fileList去看看
		for(var i=0;i<fileList.length;i++){
		    console.log(fileList[i].size)
		    if(fileList[i].size>2*1024*1024){
		      alert('图片大小不能大于1M');
		      return ;
		    }
			var reader= new FileReader();
			reader.readAsDataURL(fileList[i]);
			 // 当文件读取成功时执行的函数
			reader.onload=function(e){
				div=document.createElement('div');
				div.innerHTML='<img src="'+this.result+'" />';
				document.getElementById("img-box").appendChild(div);
			}
		}
	}
 }

</script>
{% endblock %}