{% extends "microblog/picture.html" %}
{% block style %}
<style>
    .lists{
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      align-items:center;
    }
    .item{
      min-height:330px;
      padding-top:10px;
      border:1px solid rgb(189,204,238);
      box-shadow:1px 0 1px rgb(168,188,236),
                 -1px 0 1px rgb(168,188,236),
                 0px 1px 1px rgb(168,188,236),
                 0px -1px 1px rgb(168,188,236);
      margin-bottom:5px;
    }
    .item h4,p{
      text-align:center;
      margin:0;
    }
    .item h4{
       font-size:18px;
       font-family:Microsoft Yahei;
       color:red;
    }
    .item p{
       padding-top:5px;
       font-size:16px;
       font-family:SimSun ;
    }
    .item_img{
      padding:5px 0px;
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      align-items:center;
    }
    .item_img img{
      padding:1px 1px;
    }
    .content{
      margin-top:3px;
    }
    .content p{
      margin:0px;
    }
    .button{
      text-align:center;
      margin-bottom:3px;
      margin-top:3px;
    }
    .button a{
      text-decoration:none;
      color:red;
    }
    .button span{
      height:25px;
      width:100px;
      border:1px solid rgb(241,88,67);
      border-radius:5px;
    }
</style>
{% endblock %}
{% block food %}
   <div class="lists">
       <div class="item">
           <h4>风景图设计</h4>
           <p>风景图片，得到一张风景图片之后，我们需要进行后期的修图操作，已达到完美</p>
           <div class="item_img">
               <img src="/img/picture/dongrizhiguang.jpg">
           </div>
           <div class="content">
               <p>
                   第1步:将我们拍摄的图片导入到ps中<br>
                   第2步:在ps中，我们首先使用camera row进行色彩的调节,然后进行其他的调整...
               </p>
           </div>
           <div class="button">
                   <a href="/picturedetail/">&#8594;<span>点击查看详细</span></a>
           </div>
       </div>
       <div class="item">
           <h4>图像精修</h4>
           <p>图像精修，一般商业使用的图像修复操作</p>
           <div class="item_img">
               <img src="/img/picture/jingxiu.jpg">

           </div>
           <div class="content">
               <p>
                  第1步:将我们拍摄的图片导入到ps中<br>
                   第2步:在ps中，我们首先使用camera row进行色彩的调节,然后进行其他的调整...
               </p>
           </div>
           <div class="button">
                   <a href="/picturedetail/">&#8594;<span>点击查看详细</span></a>
           </div>
       </div>
       <div class="item">
           <h4>创意设计</h4>
           <p>创意设计，一般涉及到的海报合成</p>
           <div class="item_img">
               <img src="/img/picture/fengjing.jpg">
               <img src="/img/picture/picture.jpg">
           </div>
           <div class="content">
               <p>
                   第1步:将我们拍摄的图片导入到ps中<br>
                   第2步:在ps中，我们首先使用camera row进行色彩的调节,然后进行其他的调整...
               </p>
           </div>
           <div class="button">
                   <a href="/picturedetail/">&#8594;<span>点击查看详细</span></a>
           </div>
       </div>
   </div>
{% endblock %}