{% extends "base.html" %}
{% block style %}
<style>
    .lists{
      padding:0px 20px;
    }
    .item{
      margin-top:5px;
      min-height:500px;
      padding-top:10px;
      margin-bottom:5px;
      padding-left:10px;
    }
</style>
{% endblock %}
{% block body %}
   <div class="lists">
       <div class="item">

       </div>
   </div>
{% endblock %}
{% block script %}
<script src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $.ajax({
          type:'POST',
          //data:JSON.stringify({"id":id}),
          success:function(result){
            console.log(result);
            if(result.msg=='ok'){
              $('.item').html(result.html);
            }
          }
      });
    })
</script>
{% endblock %}