{% extends "base.html"%}
{% block style %}
<style>
    .yulan{
      border:1px solid #ccc;
    }
    .yulan p{
      text-align:center;
    }
</style>
{% endblock %}
{% block body %}
   <div class="yulan">
         <form action="/yulan/" method="post" enctype='multipart/form-data'>
            <input type="text" name="title">
            <p>
                图片上传前预览：<input type="file" name="files"  id="xdaTanFileImg" onchange="xmTanUploadImg(this)" accept="image/*" multiple=""/>
                <br>
                <div id="xmTanImg"></div>
            </p>
              <input style="background-color:red;" type="submit" value="保存">
         </form>
   </div>
{% endblock %}
{% block script %}
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
            //判断浏览器是否支持FileReader接口
            if (typeof FileReader == 'undefined') {
                //使选择控件不可操作
                document.getElementById("xdaTanFileImg").setAttribute("disabled", "disabled");
            }
            //选择图片，马上预览
            function xmTanUploadImg(obj) {
                var fileList = obj.files;
                for(i=0;i<fileList.length;i++){
                    console.log(obj);
                    console.log(fileList[i]);
                    console.log("file.size = " + fileList[i].size);  //file.size 单位为byte

                    var reader = new FileReader();
                    //读取文件过程方法
                     reader.onloadstart = function (e) {
                        console.log("开始读取....");
                    }
                    reader.onprogress = function (e) {
                        console.log("正在读取中....");
                    }
                    reader.onabort = function (e) {
                        console.log("中断读取....");
                    }
                    reader.onerror = function (e) {
                        console.log("读取异常....");
                    }
                    reader.readAsDataURL(fileList[i])
                    reader.onload = function (e) {
                        console.log("成功读取....");
                        div=document.createElement('div');
                        div.innerHTML='<img src="'+e.target.result+'" />';
                        document.getElementById("xmTanImg").appendChild(div);
                        //var img = document.getElementById("xmTanImg");
                        //img.src = e.target.result;
                        console.log(e.target.result)
                        //或者 img.src = this.result;
                        //e.target.result == this.result
                    }

                }
            }

</script>
{% endblock %}