<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block titlename %}{% endblock %}设计之家</title>

<link rel="stylesheet" href="/css/main.css">
{% block head %}{% endblock %}
{% block style%}{% endblock %}
<style>

</style>
</head>
<body>
   <!--菜单栏-->
     <div class="header">
         <ul>
             <li><a href="/">首页</a></li>
             <li><a href="/foodlist/">美食</a></li>
             <li style="padding-left:15px;"><a href="/picturelist/">图片设计</a></li>
         </ul>
     </div>
     <div class="main">
         {% block body %}
         {% endblock %}
     </div>
   <!--footer设置-->
     <div class="footer">
         <div class="footer_content">
             <p>copy right@2019 xiejian</p>
         </div>

     </div>
</body>
{% block script %}
{% endblock %}

</html>
